In [1]:
24*7

168

In [2]:
for x in "안녕하세요":
    print(x)

안
녕
하
세
요

In [3]:
var1 = 100
print(var1)

100

In [4]:
var2 = var1
var3 = var1
var4 = var1

In [5]:
id(var1)

4551135920

In [6]:
id(var2)

4551135920

In [7]:
id(var3)

4551135920

In [8]:
id(var4)

4551135920

In [9]:
var1 = 101

In [10]:
id(var1)

4551135952

In [11]:
id(var2)

4551135920

In [12]:
type(var1)

int

In [16]:
type("안녕하세요")
# 얘는 변수가 아닌 그냥 객체
# 한줄을 실행시키는 중에만 존재하고 지나고나면 얘는 없음. 왜냐면 얘를 가리키는 변수가 없기때문

str

In [18]:
print(type(var1))
# 객체의 타입이다 라고 생각하면 됨
# 형태를 나타내는데 class는 형태, 정수형이다.

<class 'int'>

In [20]:
var = input()

하잇

In [21]:
print(var)

하잇

In [29]:
second_per_day = 24 * 60 * 60
second_per_day

86400

In [30]:
second_per_yaer = second_per_day *365
second_per_yaer

31536000

In [31]:
type(second_per_day)

int

In [32]:
type(second_per_yaer)

int

In [33]:
var = input("문자열을 입력해주세요:")

문자열을 입력해주세요: 하이이잇

In [34]:
var

' 하이이잇'

In [35]:
a = 100

In [36]:
result = a-3

In [37]:
a = result

In [38]:
print(a)

97

In [41]:
a = 100
a = a-3
print(a)

97

In [42]:
a=100
a-=3
print(a)

97

In [43]:
var = input()

3

##

In [44]:
var = int(input())

5

In [46]:
type(var)

int

In [47]:
1234

1234

In [48]:
-100

-100

In [49]:
a = 10+3
b = 10-3
c = 10*3
d = 10/3
e = 10//3
f = 10%3
g = 10**3

In [50]:
c = 60

In [51]:
c / 8

7.5

In [52]:
c //8

7

In [53]:
c %8

4

In [54]:
var = int(30)

In [55]:
float(var)

30.0